@inject NotificationService Notify;

<div class="item">

    <div class="header" @onclick="@add"> @Header </div>
    <div class="content-con">
        @Content
        @if (SmallContent != null)
        {
            <span class="smallcon">@SmallContent</span>
        }
    </div>

    <div class="footer-el left" @onclick="@addfoot">@ContentLeft</div>
    <div class="footer-el right">@ContentRight</div>

</div>

@code {
    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public string Header { get; set; }

    [Parameter]

    public string SmallContent { get; set; }

    [Parameter]
    public string ContentLeft { get; set; }
    [Parameter]
    public string ContentRight { get; set; }

    [Parameter]
    public EventCallback<int> addsmallcontant { get; set; }

    [Parameter]
    public EventCallback<double> addfooterleft{ get; set; }

    public async Task add()
    {
        var result = await Notify.Prompt("Count");
        if (!int.TryParse(result, out var number))
        {
            return;
        }

        await addsmallcontant.InvokeAsync(number);
       

    }
    public async Task addfoot()
    {
        var result = await Notify.Prompt("Count");
        if (!double.TryParse(result, out var number))
        {
            return;
        }

       
        await addfooterleft.InvokeAsync(number);

    }

}